header {
  height: 250px;
  width: 100%;
  display: flex;
  padding-top: 150px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d8ffcee3;
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
 
}

header img {
  height: 175px;
  width: 175px;
  margin-bottom: -40px;
}