/* Media query for mobile phones */
@media only screen and (max-width: 600px) {
  nav {
    background-color: none;
  }
}
/* Media query for tablets */
@media screen and (min-width: 601px) and (max-width: 768px) {
  nav {
    background-color: #4056a1;
  }
}

/*Default styles for all devices */
@media screen and (min-width: 769px) {
  
  body {
    display: flex;
    justify-content: space-around;
   
  }
  
  nav {
    background-color: #4056a1;
  }

  header {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    float: left;
  }

  .new-tweet, #tweet-container {
    display: flex;
    float: right;
    max-width: 100%;
    flex-direction: column;

  }
  


}

  
